<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.persistance.mapper.NoticeMapper">
	<select id="getNoticeList" parameterType="HashMap" resultType="NoticeDTO">
		 SELECT
	    	@rownum:=@rownum+1					AS ROWNUM,
	    	N.NOTICE_NO							AS NOTICENO,
    	   	N.NOTICE_TITLE						AS NOTICETITLE,
      		N.NOTICE_CONTENTS					AS NOTICECONTENTS,
      		N.NOTICE_VIEW_CNT					AS NOTICEVIEWCNT,
      		N.REG_MEMBER_NO						AS REGMEMBERNO,
      		DATE_FORMAT(N.REG_DT, '%Y-%m-%d')	AS REGDT,
      		M.MEMBER_NAME						AS MEMBERNAME,
      		P.PAGE								AS PAGE,
      		FI.FILE_NO							AS NOTICEFILENO,
            FI.FILE_PATH						AS NOTICEFILEPATH,
            FI.FILE_NAME						AS NOTICEFILENAME,
            FI.FILE_ORG_NAME					AS NOTICEFILEORGNAME
	    FROM NOTICE_INFO N
	   INNER JOIN MEMBER_INFO M
	      ON N.REG_MEMBER_NO = M.MEMBER_NO
	    LEFT OUTER JOIN FILE_INFO FI
	      ON N.NOTICE_FILE_NO = FI.FILE_NO,
	    	(SELECT COUNT(*) AS PAGE FROM NOTICE_INFO
	    	<where>
	    	<if test="searchBox==00">
	    		AND NOTICE_TITLE LIKE CONCAT('%',#{search},'%')
	    		OR NOTICE_CONTENTS LIKE CONCAT('%',#{search},'%')
	    	</if>
	    	<if test="searchBox==01">
	    		AND NOTICE_TITLE LIKE CONCAT('%',#{search},'%')
	    	</if>
	    	</where>
	    	) P,
	    	(SELECT @rownum:=0) TMP
	    WHERE
	    	N.REG_MEMBER_NO = M.MEMBER_NO
	    	<if test="searchBox==00">
	    		AND NOTICE_TITLE LIKE CONCAT('%',#{search},'%')
	    		OR NOTICE_CONTENTS LIKE CONCAT('%',#{search},'%')
	    	</if>
	    	<if test="searchBox==01">
	    		AND NOTICE_TITLE LIKE CONCAT('%',#{search},'%')
	    	</if>
	    ORDER BY 
	    	ROWNUM DESC
	    LIMIT #{page}, #{splitPage}
	</select>
	
	<insert id="insertNoticeFile" parameterType="NoticeDTO">
		INSERT INTO FILE_INFO
		(
			FILE_ORG_NAME,
			FILE_NAME,
			FILE_PATH,
			REG_MEMBER_NO,
			REG_DT
		)
		VALUES
		(
			#{noticeFileOrgName},
			#{noticeFileName},
			#{noticeFilePath},
			#{regMemberNo},
			NOW()
		)
		<selectKey resultType="string" keyProperty="noticeFileNo" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<insert id="insertNotice" parameterType="NoticeDTO">
		<choose>
			<!-- 내용과 이미지 둘 다 올릴때 -->
			<when test="noticeContents != null and noticeFileName =! null">
				INSERT INTO NOTICE_INFO
				(
					NOTICE_FILE_NO,
					NOTICE_TITLE,
					NOTICE_CONTENTS,
					NOTICE_VIEW_CNT,
					REG_MEMBER_NO,
					REG_DT
				) VALUES (
					#{noticeFileNo},
					#{noticeTitle},
					#{noticeContents},
					1,
					#{regMemberNo},
					NOW()
				)
			</when>
			<!-- 내용만 올릴때 -->
			<otherwise>
				INSERT INTO NOTICE_INFO
				(
					NOTICE_TITLE,
					NOTICE_CONTENTS,
					NOTICE_VIEW_CNT,
					REG_MEMBER_NO,
					REG_DT
				) VALUES (
					#{noticeTitle},
					#{noticeContents},
					1,
					#{regMemberNo},
					NOW()
				)
			</otherwise>
		</choose>
	</insert>
	
	<update id="updateNoticeViewCnt" parameterType="NoticeDTO">
		UPDATE 
			NOTICE_INFO
		SET
			NOTICE_VIEW_CNT = NOTICE_VIEW_CNT + 1
		WHERE
			NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
		SELECT
	    	N.NOTICE_NO							AS NOTICENO,
    	   	N.NOTICE_TITLE						AS NOTICETITLE,
      		N.NOTICE_CONTENTS					AS NOTICECONTENTS,
      		N.NOTICE_VIEW_CNT					AS NOTICEVIEWCNT,
      		N.REG_MEMBER_NO						AS REGMEMBERNO,
      		DATE_FORMAT(N.REG_DT, '%Y-%m-%d')	AS REGDT,
      		M.MEMBER_NAME						AS MEMBERNAME,
      		FI.FILE_NO							AS NOTICEFILENO,
            FI.FILE_PATH						AS NOTICEFILEPATH,
            FI.FILE_NAME						AS NOTICEFILENAME,
            FI.FILE_ORG_NAME					AS NOTICEFILEORGNAME
      	FROM
      		NOTICE_INFO N
       INNER JOIN
	    	MEMBER_INFO M
	      ON
	        N.REG_MEMBER_NO = M.MEMBER_NO
	    LEFT OUTER JOIN
	        FILE_INFO FI
	      ON
	        N.NOTICE_FILE_NO = FI.FILE_NO
	    WHERE
	    	N.REG_MEMBER_NO = M.MEMBER_NO AND
	    	N.NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="updateNoticeDetail" parameterType="NoticeDTO">
		<choose>
			<when test="noticeFileName == null">
				UPDATE
					NOTICE_INFO
				SET
					NOTICE_TITLE 		= #{noticeTitle},
					NOTICE_CONTENTS 	= #{noticeContents},
					CHG_MEMBER_NO 		= '3',
					CHG_DT 				= NOW()
				WHERE
					NOTICE_NO 			= #{noticeNo}
			</when>
			<otherwise>
				UPDATE
					NOTICE_INFO
				SET
					NOTICE_TITLE 		= #{noticeTitle},
					NOTICE_CONTENTS 	= #{noticeContents},
					CHG_MEMBER_NO 		= '3',
					CHG_DT 				= NOW(),
					NOTICE_FILE_NO 		= #{noticeFileNo}
				WHERE
					NOTICE_NO 			= #{noticeNo}
			</otherwise>
		</choose>
	</update>
	
	<delete id="deleteNotice" parameterType="String">
		DELETE FROM
			NOTICE_INFO
		WHERE
			NOTICE_NO = #{noticeNo}
	</delete>
	<update id="updateNoticeImgNull" parameterType="hashmap">
		UPDATE NOTICE_INFO
		   SET NOTICE_FILE_NO = NULL,
		       CHG_MEMBER_NO = #{chgMemberNo},
		       CHG_DT = NOW()
		 WHERE NOTICE_NO = #{noticeNo}
	</update>
	<delete id="deleteNoticeImg" parameterType="hashmap">
		DELETE FROM FILE_INFO WHERE FILE_NO = #{noticeFileNo}
	</delete>
	<update id="updateNoticeImg" parameterType="NoticeDTO">
		UPDATE NOTICE_INFO
		   SET NOTICE_FILE_NO = #{noticeFileNo},
    	       CHG_MEMBER_NO = #{chgMemberNo},
		       CHG_DT = NOW()
		 WHERE NOTICE_NO = #{noticeNo}
	</update>
</mapper>