<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.persistance.mapper.RegulationMapper">
	<select id="getRegulationList" parameterType="hashmap" resultType="RegulationDTO">
		SELECT @ROWNUM := @ROWNUM + 1 				AS ROWNUM,
			   RI.REGULATION_NO						AS REGULATIONNO,
			   RI.REGULATION_TITLE					AS REGULATIONTITLE,
			   RI.REGULATION_CONTENTS				AS REGULATIONCONTENTS,
			   RI.REGULATION_VIEW_CNT 				AS REGULATIONVIEWCNT,
			   RI.REG_MEMBER_NO						AS REGMEMBERNO,
			   DATE_FORMAT(RI.REG_DT,'%Y-%m-%d')	AS REGDT,
			   RI.CHG_MEMBER_NO						AS CHGMEMBERNO,
			   RI.CHG_DT							AS CHGDT,
			   FI.FILE_NO							AS REGULATIONFILENO,
			   FI.FILE_ORG_NAME						AS REGULATIONFILEORGNAME,
			   FI.FILE_NAME							AS REGULATIONFILENAME,
			   FI.FILE_PATH							AS REGULATIONFILEPATH,
			   P.PAGE								AS PAGE,
			   MI.MEMBER_ID							AS MEMBERID
		  FROM REGULATION_INFO RI
		 INNER JOIN MEMBER_INFO MI
		    ON RI.REG_MEMBER_NO = MI.MEMBER_NO
		  LEFT OUTER JOIN FILE_INFO FI
		    ON RI.REGULATION_FILE_NO = FI.FILE_NO,
		  	   (SELECT COUNT(*) AS PAGE
		  	   	  FROM REGULATION_INFO RI
		  	     INNER JOIN MEMBER_INFO MI 
		  	        ON RI.REG_MEMBER_NO = MI.MEMBER_NO
		  	    <where>
		  	    	<if test="searchBox==00">
		  				INSTR(RI.REGULATION_TITLE, #{search}) > 0
		  			 OR INSTR(MI.MEMBER_ID, #{search}) > 0
		  			</if>
		  			<if test="searchBox==01">
		  				INSTR(RI.REGULATION_TITLE, #{search}) > 0
		  			</if>
		  			<if test="searchBox==02">
		  			 	INSTR(MI.MEMBER_ID, #{search}) > 0
		  			</if>
		  	    </where>) P,
		       (SELECT @ROWNUM := 0) R
	   <where>
		  <if test="searchBox==00">
		  	   INSTR(RI.REGULATION_TITLE, #{search}) > 0
		 	OR INSTR(MI.MEMBER_ID, #{search}) > 0
		  </if>
		  <if test="searchBox==01">
		  	   INSTR(RI.REGULATION_TITLE, #{search}) > 0
		  </if>
		  <if test="searchBox==02">
		       INSTR(MI.MEMBER_ID, #{search}) > 0
		  </if>
	  </where>
	  ORDER BY ROWNUM DESC
	     LIMIT #{page}, #{splitPage}
	</select>
	<insert id="insertRegulationFile" parameterType="RegulationDTO">
		INSERT INTO FILE_INFO
		(
			FILE_ORG_NAME,
			FILE_NAME,
			FILE_PATH,
			REG_MEMBER_NO,
			REG_DT
		)
		VALUES
		(
			#{regulationFileOrgName},
			#{regulationFileName},
			#{regulationFilePath},
			#{regMemberNo},
			NOW()
		)
		<selectKey resultType="string" keyProperty="regulationFileNo" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<insert id="insertRegulation" parameterType="RegulationDTO">
		<choose>
			<when test="regulationContents != null and regulationFileName != null">
			<!-- 내용과 이미지 둘 다 올릴때 -->
			INSERT INTO REGULATION_INFO
			(	
				REGULATION_FILE_NO,
				REGULATION_TITLE,
				REGULATION_CONTENTS,
				REGULATION_VIEW_CNT,
				REG_MEMBER_NO,
				REG_DT
			)
			VALUES
			(
				
				#{regulationFileNo},
				#{regulationTitle},
				#{regulationContents},
				0,
				#{regMemberNo},
				NOW()
			)
			</when>
			<when test="regulationContents != null and regulationFileName == null">
			<!-- 내용만 올릴때 -->
			INSERT INTO REGULATION_INFO
			(
				REGULATION_TITLE,
				REGULATION_CONTENTS,
				REGULATION_VIEW_CNT,
				REG_MEMBER_NO,
				REG_DT
			)
			VALUES
			(
				#{regulationTitle},
				#{regulationContents},
				0,
				#{regMemberNo},
				NOW()
			)
			</when>
			<when test="regulationContents == null and regulationFileName != null">
			<!-- 파일만 올릴때 -->
			INSERT INTO REGULATION_INFO
			(
				REGULATION_FILE_NO,
				REGULATION_TITLE,
				REGULATION_VIEW_CNT,
				REG_MEMBER_NO,
				REG_DT
			)
			VALUES
			(
				#{regulationFileNo},
				#{regulationTitle},
				0,
				#{regMemberNo},
				NOW()
			)
			</when>
		</choose>
	</insert>
	
	<select id="getRegulationDetail" parameterType="string" resultType="RegulationDTO">
		SELECT RI.REGULATION_NO			AS REGULATIONNO,
			   FI.FILE_NO				AS REGULATIONFILENO,
			   FI.FILE_ORG_NAME			AS REGULATIONFILEORGNAME,
			   FI.FILE_NAME				AS REGULATIONFILENAME,
			   FI.FILE_PATH				AS REGULATIONFILEPATH,
			   RI.REGULATION_TITLE		AS REGULATIONTITLE,
			   RI.REGULATION_CONTENTS	AS REGULATIONCONTENTS,
			   RI.REGULATION_VIEW_CNT 	AS REGULATIONVIEWCNT,
			   RI.REG_MEMBER_NO			AS REGMEMBERNO,
			   RI.REG_DT				AS REGDT,
			   RI.CHG_MEMBER_NO			AS CHGMEMBERNO,
			   RI.CHG_DT				AS CHGDT,
               MI.MEMBER_ID				AS MEMBER_ID
		  FROM REGULATION_INFO RI
         INNER JOIN MEMBER_INFO MI ON RI.REG_MEMBER_NO = MI.MEMBER_NO
          LEFT OUTER JOIN FILE_INFO FI ON RI.REGULATION_FILE_NO = FI.FILE_NO
         WHERE RI.REGULATION_NO = #{regulationNo}
	</select>
	
	<delete id="deleteRegulation" parameterType="RegulationDTO">
		DELETE FROM REGULATION_INFO WHERE REGULATION_NO = #{regulationNo};
		DELETE FROM FILE_INFO WHERE FILE_NO = #{regulationFileNo};
	</delete>
	
	<update id="updateRegulationImgNull" parameterType="hashmap">
		UPDATE REGULATION_INFO
		   SET REGULATION_FILE_NO = NULL,
		       CHG_MEMBER_NO = #{chgMemberNo},
		       CHG_DT = NOW()
		 WHERE REGULATION_NO = #{regulationNo}
	</update>
	<delete id="deleteRegulationImg" parameterType="string">
		DELETE FROM FILE_INFO WHERE FILE_NO = #{regulationFileNo}
	</delete>
	<update id="updateRegulationImg" parameterType="RegulationDTO">
		UPDATE REGULATION_INFO
		   SET REGULATION_FILE_NO = #{regulationFileNo},
    	       CHG_MEMBER_NO = #{chgMemberNo},
		       CHG_DT = NOW()
		 WHERE REGULATION_NO = #{regulationNo}
	</update>
	<update id="updateRegulation" parameterType="RegulationDTO">
		<choose>
			<when test="regulationFileName==null">
				UPDATE REGULATION_INFO
		   		   SET REGULATION_TITLE = #{regulationTitle},
		       		   REGULATION_CONTENTS = #{regulationContents},
    	       		   CHG_MEMBER_NO = #{chgMemberNo},
		       		   CHG_DT = NOW()
		 		 WHERE REGULATION_NO = #{regulationNo}
			</when>
			<when test="regulationFileName!=null">
				UPDATE REGULATION_INFO
		   		   SET REGULATION_TITLE = #{regulationTitle},
		       		   REGULATION_CONTENTS = #{regulationContents},
		       		   REGULATION_FILE_NO = #{regulationFileNo},
    	       		   CHG_MEMBER_NO = #{chgMemberNo},
		       		   CHG_DT = NOW()
		 		 WHERE REGULATION_NO = #{regulationNo}
			</when>
		</choose>
	</update>
	
	<update id="updateRegulationViewCnt" parameterType="string">
		UPDATE REGULATION_INFO
		   SET REGULATION_VIEW_CNT = REGULATION_VIEW_CNT + 1
		 WHERE REGULATION_NO = #{regulationNo}
	</update>
</mapper>