<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.persistance.mapper.VisitStatisticsMapper">
	<insert id="insertVisitInfo" parameterType="java.util.Map">
		INSERT INTO VISIT_STATISTICS
			(
			 VISITID, 
			 SEQ, 
			 URL, 
			 UTYPE,
			 IP,
			 REG_DT
			 ) 
		 VALUES
			 (
			 #{visitID},
			 IFNULL((SELECT MAX(TMP.SEQ) FROM VISIT_STATISTICS TMP WHERE TMP.VISITID = #{visitID}), 0) + 1,
			 #{URL},
			 #{uType},
			 #{ip},
			 NOW()
			 )
	</insert>
	
	<select id="getVisitInfo" resultType="VisitStatisticsDTO">
		SELECT VISITID,
		       SEQ,
		       URL,
		       UTYPE,
		       REG_DT,
		       IP
		  FROM VISIT_STATISTICS
		  WHERE IP IS NOT NULL
	</select>
	
	<select id="getVisitCnt" resultType="java.util.HashMap">
		SELECT SUBSTR(REG_DT, 1, 10) AS DATE,
	   		   COUNT(DISTINCT IP) AS CNT
  		  FROM VISIT_STATISTICS
  		 WHERE IP IS NOT NULL
 		  GROUP BY DATE
   	   	  ORDER BY DATE DESC
	</select>
</mapper>